/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
    background: #479AD1;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}


h1 {
    color: #0F2417;
    font-family: "Arial Black";
    text-align: center;
}

table {
    border-collapse: collapse;
    position: 50%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    text-align-all: left;
}