/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
    background: #479AD1;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}


h1 {
    color: #0F2417;
    font-family: "Arial Black";
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}

#table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-collapse: collapse;

}
table, th, td {
    border: 3px solid;
    border-color: #0C2231;
    font-family: 'Roboto Slab', serif;
    background-color: #E35F75;
    color: #0F2417;
}

th {
    height: 50px;
    text-align-all: left;
}

#column {
    float: left;
    width: 18%;
    height: 18%;
    padding: 15px;
    margin-left: 30px;
    margin-right: 40px;


}

#row::after {
    content: "";
    clear: both;
    display: table;
}

