h1 {
    color: cyan;
    font-family: "Arial Black";
    position: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    text-align-all: left;
}